#caixa1{
	width:300px; 
	padding:50px;
	/*background:url("../imagens/camera.png") no-repeat;*/
	/*background: linear-gradient(to left,red,green,yellow);*/ /*mistura de 2 cores*/
	background: radial-gradient(red,green,yellow); 
}
#caixa1 h1{
	background: rgba(255,255,255, 0.5);
}