<!DOCTYPE html>
<html>
	<head>
		<title>Layout</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="_css/estilo-fixo.css">
	</head>

	<body>
		<div id="container">
			
			<div id="marca">Marca</div>
			<div id="conteudo">
				<div id="conteudo-principal">	
					<div class="conteudo">
						<h2>Conteudo</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat placerat tellus, nec ultrices lacus tristique id. Aenean consectetur magna at sapien convallis tristique. Aenean ac mauris felis. Sed auctor blandit sagittis.</p>
					</div>
				</div>
				<div id="conteudo-secundario">	
					<div class="conteudo">
						<h2>Conteudo</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat placerat tellus, nec ultrices lacus tristique id. Aenean consectetur magna at sapien convallis tristique. Aenean ac mauris felis. Sed auctor blandit sagittis.</p>
					</div>
				</div>	
			</div>
			<div id="navegacao"><h4>Navegação</h4>
				<ul>
					<li><a href="layout.html">Home</a></li>
					<li><a href="layout.html">Sobre</a></li>
					<li><a href="layout.html">Noticias</a></li>
					<li><a href="layout.html">Produtos</a></li>
					<li><a href="layout.html">Servicos</a></li>
			</div>
			<div id="rodape">Rodape</div>

	</body>
</html>