body{
	font-family: "Trebuche MS", Helvetica, sans-serif;
	background: #f2f2f2;
}
#container{
	border: .5px solid red;
	width: 720px;/*Tamanho total do site*/
	margin: 0 auto;
	background: #fff;
}
#marca{
	border: .5px solid red
	height:100px;
	background-color: #9e9e9e;
	text-align: center;
	line-height: 100px;
}
#conteudo{
	border: .5px solid red;
	width: 520px;
	float: right;
}
#conteudo-principal{
	border: .5px solid red;
	width: 320px;
	float: left;
}
#conteudo-secundario{
	border: .5px solid red;
	width: 180px;
	float: right;
	background: #d1d1d1;
}
#navegacao{
	border: .5px solid red;
	width: 180px;/*180 + 520 = 700px sobra 20px*/
	float:left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}
#navegacao ul{
	list-style: none;
}
#navegacao li a{
	text-decoration: none;
}
#rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}
.conteudo{
	text-indent: 5px;
	text-align: justify;
	padding: 15px;
}
